div#filtro-mapa *{font-size: 12pt;}
div#filtro-mapa{
	background: #1C3589;
	border-radius: 8px;
	margin: 10px 140px;
	padding: 0;
	position: absolute;
	top: 480px;
	z-index:120;
}
/*********************************
	formulario do mapa
*********************************/

div#filtro-mapa .form-group{
	margin: 0;
	color: white;
}
.checkbox{
	margin-left: 20px;
	margin-bottom: 10px;
}
div#form-1{
	background: #3b66b4;
	border-radius: 0 0 10px 10px;
	padding: 3px;
}
div#form-2{
	padding: 5px;
}
div#filtro-mapa label{
margin: 5px;
font-size: 12pt;
}
div#filtro-mapa button{
float: right;
font-weight: 700;
}
