p{
	font-size: 12pt;
}
div#interface-servico{
	margin: 10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	padding: 5px;
	background: #d4d3d3;
}
h1.titulo-servico{
	color: #6f6d6d;
	font-weight: 800;
	text-align: center;
}

/******************************
		sobre A EMPRESA
*******************************/
div#sobre-empresa{
	border-top: 2px solid #c0bfc4;
	padding: 10px;
	margin-bottom: 100px;
}
div#sobre-empresa h2{
	color: #1d3588;
	font-weight: 700;
}div#sobre-empresa p{
	color: #6f6d6d;
}