body{
	background: url(/img/fundo-kananda.jpg) no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;

}
@font-face{
	font-family: "travelcons";
	src: url(/fontes/travelcons.ttf);
}
@font-face{
	font-family: "nyala-menu";
	src: url(/fontes/nyala.ttf);
}
span.icone-imovel{
	font-family: "travelcons"
}
.container{
	background: white;
	width: 970px!important;
	padding: 0px 5px;
}
/*CABECALHO*/
div#cabecalho{
	margin-top: 2px;
	margin-bottom: -45px;
}
div.logo-imagem{
	position: absolute;
	top: -4px;
	left: 26px;
}
ul#menu-head{
	position: relative;
	top: -45px;
	left: 180px;
	text-align: center;
	padding: 5px;
}
ul#menu-head li a {
	font-size: 14pt;
	border-radius: 5px;
	padding: 3px 20px;
	color: white;
}
ul#menu-head li a:hover{
	background-image:-moz-linear-gradient(50% 0% -180deg,rgb(0,154,225) 0%,rgb(0,148,235) 100%); 
	background-image:-ms-linear-gradient(-180deg,rgb(0,154,225) 0%,rgb(0,148,235) 100%);
	background-image:linear-gradient(-180deg,rgb(0,154,225) 0%,rgb(0,148,235) 100%);
}
ul#menu-head li ul{
	display: none;
	width: 170px;
	position: absolute;
	z-index: 62;
	border-radius: 0 0 10px 10px;
	background-color: #004F9E;
	transition: display 1s;
	
}
ul#menu-head li:hover ul{
	z-index: 100;
	display: block;
}
ul#menu-head li ul li {
	margin: 3px;
	width: 93%;
	text-align: left;
}
ul#menu-head li ul li  a{
	padding: 5px;
	font-size: 13pt;
}
ul#menu-head li ul li ul{
	border-radius: 0 10px 10px 0;
	top: 0px;
	left: 165px;
	z-index: 64;
	visibility: hidden;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	-moz-opacity: 0.00;
	opacity: 0.00;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
}
ul#menu-head li ul li:hover ul{
	visibility: visible;
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.form-inline{display: inline!important;}
/*FILTRO*/
/*******************************
		filtro
**********************************/
div#filtro-detalhe{
	background: #1a5dae;
	margin: 5px 50px;
	border-radius: 10px;
	padding: 0;
}div#filtro-detalhe .form-group{
	margin-bottom: 10px;
}
div#filtro-detalhe label{
	color: white;
	font-weight: 500;
	font-size: 12pt;
}
div#filtro-detalhe .col-xs-1{
	padding: 0;
	margin: 0;
	margin-top: 25px;
}
div#filtro-detalhe .col-xs-2{
	width: 180px;
}
div#filtro-detalhe button{
	font-size: 12pt;
	font-weight: 700;
}
/*SLIDE*/
div#slideshow-home{
	margin: 5px auto;
	margin-top: -5px;
	margin-bottom: 0;
}
div#slideshow-home div.item div.carousel-caption{
	background: rgba(0,0,0,0.4);
	width: 100%;
	left: 4px;
	padding: 0;
	margin: 0;
	margin-left: -4px;
	margin-bottom: -20px;
}
div#slideshow-home:hover div.item div.carousel-caption{
	background: rgba(0,0,0,0.7);
}
div#slideshow-home div.item div.carousel-caption h3,p{
	text-align: left;
	padding: 5px 10px;
}
div#slideshow-home div.item div.carousel-caption h3{
margin: 5px;
font-weight: 700;
color: #345195;
font-size: 20pt;
}
div#slideshow-home div.item div.carousel-caption p{
	color: #F0F0F0;
	font-size: 12pt;
}
.carousel-indicators {
left: 115%;
top: 0;
margin-top: 3px;
margin-bottom: 0;
height: 20px;
width: 20%;
}


/******************************
	IMOVEIS
*******************************/
div#imovel-home * {
text-decoration: none;
}
div#imovel-home{
background: url(/img/img-imovel-home.png)no-repeat;
padding: 10px;
margin: 5px 50px;
width: 820px;
height: 420px;
	padding-left:25px; 
}

div#imovel-home .col-xs-4{
	background: url(/img/imovel-select.png) no-repeat;
	width: 245px;
	margin: 15px 10px 10px 10px;
	padding: 17px 3px 	5px 3px;
	-moz-transition: transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}
#primeiro-imovel-select{
margin-left: 20px;
}
.home-imovel *{
	color: black;
}
#imovel-home .col-xs-4:hover{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.home-legenda-imovel{
padding: 8px;
}
h3.imovel-nome{
	color: #405192;
	font-weight: 700;
	font-size: 25pt;
	padding:  0;
	margin-left: 0px;
	margin-top: 3px;
}
h3.imovel-ver-mais{
	float: right;
	margin: 0;
	margin-top: -20px;
	margin-right: 20px;
	padding: 5px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 16pt;
}
/*************************************
		RODAPE
*************************************/
div#rodape{
	background: #405192;
	margin: 0;
}
div#rodape *{
	color: white;
}
div#rodape input{
	color: #405192;
}
div#rodape textarea{
	color: #405192;
}
div#rodape h3{
	font-weight: 700;
}
div#rodape ul li{
	display: block;
}
div#rodape ul li a{
	font-size: 12pt;
	color: #ccc;
}
div#rodape .form-group * {font-weight: 600}
div#rodape .form-group {
margin-bottom: 10px;
padding: 2px;
}
div#rodape-2 {
	margin: 0;
	padding: 0;
}div#rodape-0 a{
	margin: 0;
	padding: 0;
}
img#logo-endogenese{
	display: block;
	float: left;
	margin-left: -15px;
}
div#rodape-2 p{
	font-size: 13pt;
}
/*****************************************
	.pagination
****************************************/
.pagination{
	margin: 5px;
}
