@font-face{
	font-family: "travelcons";
	src: url(/fontes/travelcons.ttf);
}
span.icone-imovel{
	font-family: "travelcons"
}
.container{
	width: 970px!important;
	padding: 0px 5px;
}
#interface{
	background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
}
/*CABECALHO*/
div#cabecalho{
	margin-top: 2px;
	margin-bottom: -45px;
}
div.logo-imagem{
	position: absolute;
	top: -4px;
	left: 26px;
}
ul#menu-head{
	position: relative;
	top: -44px;
	left: 180px;
	text-align: center;
	padding: 5px;
}
ul#menu-head li a {
font-size: 14pt;
border-radius: 5px;
padding: 5px 20px;
color: white;
}
ul#menu-head li a:hover{
	background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
}
ul#menu-head li ul{
	display: none;
	width: 100px;
	position: absolute;
	z-index: 62;
	background-color: #004F9E;
}
ul#menu-head li:hover ul{
display: block;
}
ul#menu-head li ul li {
	margin: 3px;
	width: 93%;
	text-align: left;
}
ul#menu-head li ul li  a{
	padding: 5px;
	font-size: 12pt;
}
/*FILTRO*/
form#filtro-home{
	margin-top: 10px;
	position: absolute;
	background: rgba(0,0,0,0.7);
	z-index: 30;
	padding: 6px 0;
	padding-left: 10px;
	opacity: 0.3;
	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s;
}
form#filtro-home:hover{
	opacity: 1;
}
form#filtro-home *{
	font-size: 12pt;
}
form#filtro-home .form-group{
	margin: 4px 4px;
}
form#filtro-home .form-group .input-group-addon{
	background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
	background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	color: white;
}
form#filtro-home label{
	margin-bottom: 0;
	font-weight: 600;
}
form#filtro-home button{
	float: right;
	margin-right: 40px;
}
/*SLIDE*/
div#slideshow-home{
	margin: 5px auto;
}
div#slideshow-home div.item div.carousel-caption{
	background: rgba(255,255,255,0.3);
	width: 930px;
	left: 4px;
	padding: 0;
}
div#slideshow-home:hover div.item div.carousel-caption{
	background: rgba(255,255,255,0.5);
}
div#slideshow-home div.item div.carousel-caption h3,p{
	text-align: left;
	padding: 5px 10px;
}
div#slideshow-home div.item div.carousel-caption h3{
margin: 5px;
font-weight: 700;
color: #345195;
font-size: 20pt;
}
div#slideshow-home div.item div.carousel-caption p{
	color: #F0F0F0;
	font-size: 12pt;
}
.carousel-indicators {
left: 115%;
top: 0;
margin-top: 3px;
margin-bottom: 0;
height: 20px;
width: 20%;
}

/******************************
	IMOVEIS
*******************************/
div#imovel-home{
	position: absolute;
	top: 80px;
	left: 30px;
}
div#imovel-home .thumbnail .caption{
	padding: 0;
}
h3.titulo-imovel-home{
	position: absolute;
	top: 2px;
	left: 30px;
	font-size: 23pt;
	font-weight: 700;
	color: #405192;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
/*************************************
		RODAPE
*************************************/
div#rodape{
	background: #405192;
	margin: 0;
}
div#rodape *{
	color: white;
}
div#rodape input{
	color: #405192;
}
div#rodape textarea{
	color: #405192;
}
div#rodape h3{
	font-weight: 700;
}
div#rodape ul li{
	display: block;
}
div#rodape ul li a{
	font-size: 12pt;
}