@font-face{
	font-family: "Montserrat-Regular";
	src: url(Montserrat-Regular.ttf)
}
*{
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	font-family: "Montserrat-Regular";
}

body{
	position: relative;
	font: 300 16px Oswald;
}
/*---------------------------------------------------------------------------
			PAGINA DE LONGIN
---------------------------------------------------------------------------*/
body.body-login{
	background:linear-gradient(top, #F0F7FD, #CFEAF5);
	background:-moz-linear-gradient(top, #F0F7FD, #CFEAF5);
	background:-o-linear-gradient(top, #F0F7FD, #CFEAF5);
	background:-webkit-linear-gradient(top, #F0F7FD, #CFEAF5);
}
#login{
	width: 300px;
	margin: 0 auto;
	position: relative;
	top: 200px;
	border:  1px solid #f1f1f1;
	padding: 10px;
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,250,0.2);
}

#message_login{
	width: 100%;
	padding: 3px;
	color:#fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	margin: 0 auto;
	text-align: center;
	font-size: 18pt;
}

#form_login{
	margin: 0 auto;
	width: 250px; 
}

#login label{
	display: block;
	padding-top: 5px;
}

#logo_login{
	width: 250px;
	height: 72px;
	margin: 0 auto;
	padding: 7px;
	position: relative;
	top: 5px;
}

#logo_login_img{
	margin:  0 auto;
	display: block;
}


#btn_login{
	display: block;
	border:none;
	width: 250px;
	height: 40px;
	margin-top: 10px;
	cursor: pointer;
	font: 400 18px Oswald;
	color: white; 
	background-image:-moz-linear-gradient(50% 0% -180deg,rgba(0,154,225,0.7) 0%,rgba(0,148,235,0.7) 100%); 
	background-image:-ms-linear-gradient(-180deg,rgba(0,154,225,0.7) 0%,rgba(0,148,235,0.7) 100%);
	background-image:linear-gradient(-180deg,rgba(0,154,225,0.7) 0%,rgba(0,148,235,0.7) 100%);
	transition: background-image 0.6s linear;
}

#btn_login:hover{
	background-image:-moz-linear-gradient(50% 0% -180deg,rgb(0,154,225) 0%,rgb(0,148,235) 100%); 
	background-image:-ms-linear-gradient(-180deg,rgb(0,154,225) 0%,rgb(0,148,235) 100%);
	background-image:linear-gradient(-180deg,rgb(0,154,225) 0%,rgb(0,148,235) 100%);
}


/*-------------------------------------------------------------------------
								Área administrativa
----------------------------------------------------------------------------*/

html, body {
	height: 100%;
}

#conteudo-geral {
	height: 100%;
	min-height:100%;
	padding: 0 2px;
	position: relative;
	overflow: hidden;
	min-width: 900px;
	background: #EEE;
}
#conteudo-geral #topo {
	background:linear-gradient(top, #F0F7FD, #CFEAF5);
	background:-moz-linear-gradient(top, #F0F7FD, #CFEAF5);
	background:-o-linear-gradient(top, #F0F7FD, #CFEAF5);
	background:-webkit-linear-gradient(top, #F0F7FD, #CFEAF5);
	height: 100px;
	float: left;
	top: 0;
	width: 100%;
	z-index: 10;
}
#conteudo-geral #topo  img{
	width: auto;
	height: 90px;
	display: block;
	margin-left: 10px;
}
#conteudo-geral #topo h1 {
	float: left;
	height: 49px;
	margin: 6px 0 0 20px;
	width: 227px;
}
/********************************************************
						topo-menu
*********************************************************/
#conteudo-geral #topo-sidebar {
	border: 1px solid #CCC;
	background: rgb(41, 152, 219);
	width: 205px;
	position: relative;
	float: left;
	top: 2px;
	padding: 4px;
}

#conteudo-geral #topo-leitura {
	border: 1px solid #CCC;
	background: rgb(41, 152, 219);
	position: absolute;
	margin: 0 220px;
	top: 102px;
	left: 0px;
	width: 100%;
	height: 23px;
	padding: 4px;
}

.titulo {
	padding-left: 10px;
	color: white;
	font-family: "Montserrat-Regular";
	font-size: 15pt;
}

.subtitulo {
	top: 35px;
	position: absolute;
	margin-left: -4px;
	padding: 5px;
	width: 100%;
	height: 20px;
	font-family: "Montserrat-Regular";
	background: rgb(81, 188, 213);
	color: white;
}

.titulo, .subtitulo {
}

#conteudo-geral #topo-sidebar .subtitulo a {
	color: #000;
	font: 11px Arial, Helvetica, sans-serif;
	margin-bottom: -3px;
	text-decoration: none;
}

#conteudo-geral #topo-sidebar .subtitulo #recolher-menu {
	margin-left: 10px;
}

/*************************************************************
				menu lateral
*************************************************************/
#conteudo-geral #sidebar {
	border: 1px solid #CCC;
	left: 0px;
	margin: 63px 0 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	z-index: 13;
	top: 72px;
	width: 205px;
	padding: 5px;
	background:linear-gradient(top, #F0F7FD, #CFEAF5);
	background:-moz-linear-gradient(top, #F0F7FD, #CFEAF5);
	background:-o-linear-gradient(top, #F0F7FD, #CFEAF5);
	background:-webkit-linear-gradient(top, #F0F7FD, #CFEAF5);
}

#conteudo-geral #sidebar #menu-lateral {
	list-style: none;
	display: block;
}

#conteudo-geral #sidebar #menu-lateral li {
	font-family: "Montserrat-Regular";
	margin: 4px auto;
	padding: 4px;
	border-radius: 5px;
	background-color: #228EE8;
	border-color: #357ebd;
	-moz-transition: transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
}
#conteudo-geral #sidebar #menu-lateral li:hover {
	background-color: #2382D3;
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
}
#conteudo-geral #sidebar #menu-lateral  a{
	text-decoration: none;
	color: #fff;
	font-size: 10pt;
}
/*****************************************************
				Container do site
******************************************************/
#conteudo-geral #leitura {
	padding: 10px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 0 0 0 205px;
	overflow: auto;
	background: #ccc;
}
/******************************************************************
				MENU ADMINISTRATIVO
*******************************************************************/
#grid *{
	font-size: 12pt;
}
#grid {
	margin-bottom: 100px;
}
#pesquisa_grid input,select{
	padding: 2px 5px;
	margin: 10px;
	height: 30px;
}
#grid a.novo_registro_grid{
	display: inline-block;
	padding: 2px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	font-size: 12pt;
	font-family: "Montserrat-Regular",sans-serif;
	margin: 10px;
}
#grid table{
	margin: 10px;
	border: 1px solid #DDD;
}
#grid table tbody tr.cabecalho_grid th.coluna_grid{
	padding: 8px;
	line-height: 1.42857;
	vertical-align: top;
	border-top: 1px solid #DDD;
}#grid table tbody tr.linha_grid td.coluna_grid{
	line-height: 1.42857;
	vertical-align: top;
	border-top: 1px solid #DDD;
}
#grid table tbody tr.linha_grid td {
	padding: 10px;
}
#grid table tbody tr:nth-child(2n+1) {
    background-color: #D9EDF7;
}

/**************************************************************
		
****************************************************************/
.preview_foto{
	width:70px;
	height:70px;
	border: dashed 1px #000;
	float:left;
}
/*Classes de herança*/
.bradius{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.campo_txt{
	border: thin solid #f1f1f1;
	height: 40px;
	width: 250px;
}

.campo_txt:focus{
	border:  thin solid  #678b97 ;
	box-shadow: 0 2px  16px #678b97;
	-webkit-box-shadow: 0 2px  10px #678b97;
	-moz-box-shadow: 0 2px  10px #678b97;
}

.fleft{
	float: left;
}

.fright{
	float: right;
}

/*Múltiplos estilos*/
.campo_txt, .campo_txt:focus, .btn_login, .btn_login:focus{
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
}