*{
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
}

body{
	font: 300 16px Oswald;
}


/***** Login *****/
#login{
	width: 300px;
	margin: 0 auto;
	position: relative;
	top: 200px;
	border:  1px solid #f1f1f1;
	padding: 10px;
}

#message_login{
	width: 100%;
	padding: 3px;
	color:#fff;
	background-color: #ff0066;
	margin: 0 auto;
	text-align: center;
}

#form_login{
	margin: 0 auto;
	width: 250px; 
}

#login label{
	display: block;
	padding-top: 5px;
}

#logo_login{
	width: 250px;
	height: 72px;
	margin: 0 auto;
	padding: 7px;
	position: relative;
	top: 5px;
}

#logo_login_img{
	margin:  0 auto;
	display: block;
}


#btn_login{
	display: block;
	border:none;
	width: 250px;
	height: 40px;
	margin-top: 10px;
	cursor: pointer;
	font: 400 18px Oswald;
	color: #999;
}

#btn_login:hover{
	background-color: #00913e;
	color:#fff;
}


/*Área administrativa*/

.titulo {
	background: url("../imagens/bg-titulo.png") repeat-x;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
}

.subtitulo {
	background: url("../imagens/bg-subtitulo.png") repeat-x;
}

.titulo, .subtitulo {
    border-bottom: 1px solid #ccc;
    font: 12px Arial,Helvetica,sans-serif;
    height: 19px;
    padding: 3px 0 0 10px;
}

html, body {
	height: 100%;
}

#conteudo-geral {
	height: 100%;
	min-height:100%;
	padding: 0 2px;
	position: relative;
	overflow: hidden;
	min-width: 900px;
	background: #EEE;
}
#conteudo-geral #topo {
	background: url(../imagens/bg2.png) #AFD246;
	height: 60px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

#conteudo-geral #topo h1 {
	float: left;
	height: 49px;
	margin: 6px 0 0 20px;
	width: 227px;
}

#conteudo-geral #topo-sidebar {
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	height: 46px;
	left: 2px;
	position: absolute;
	top: 63px;
	width: 200px;
	z-index: 5000;
}

#conteudo-geral #topo-sidebar .subtitulo a {
	color: #000;
	font: 11px Arial, Helvetica, sans-serif;
	margin-bottom: -3px;
	text-decoration: none;
}

#conteudo-geral #topo-sidebar .subtitulo #recolher-menu {
	margin-left: 10px;
}


#conteudo-geral #sidebar {
	background: #FFF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	left: 2px;
	margin: 63px 0 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 46px;
	width: 200px;
	font: 12px Arial,Helvetica,sans-serif;
}

#conteudo-geral #sidebar #menu-lateral {
	list-style: none;
}

#conteudo-geral #sidebar #menu-lateral li {
	padding: 0 0 0 7px;
}

#conteudo-geral #topo-leitura {
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	height: 46px;
	margin: 63px 0 0 205px;
	overflow-x: hidden;
	overflow-y: auto;
}

#conteudo-geral #leitura {
	background: #FFF;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 0 0 0 205px;
	overflow: auto;
}

.preview_foto{
	width:70px;
	height:70px;
	border: dashed 1px #000;
	float:left;
}
/*Classes de herança*/
.bradius{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.campo_txt{
	border: thin solid #f1f1f1;
	height: 40px;
	width: 250px;
}

.campo_txt:focus{
	border:  thin solid  #678b97 ;
	box-shadow: 0 2px  16px #678b97;
	-webkit-box-shadow: 0 2px  10px #678b97;
	-moz-box-shadow: 0 2px  10px #678b97;
}

.fleft{
	float: left;
}

.fright{
	float: right;
}

/*Múltiplos estilos*/
.campo_txt, .campo_txt:focus, .btn_login, .btn_login:focus{
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
}